body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #555;
}

section {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

.project img {
    width: 10%;
    height: auto;
}

.aboutme img {
    width: 10%;
    height: auto;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

